div.app{
  width:90%;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  min-height:100vh;
  color: #222;
}

header{
  flex-basis: 30vh;
 
}

main{
  flex-grow:1;
  padding: 30px 0;
  display: flex;
}

footer{
  background-color: #000000;
  color:#fff;
  padding: 10px 0;
  text-align:center;
  text-transform:uppercase;
  margin-bottom: 50px;
}

aside{
  min-width: 240px;
}

section.page{
  flex-grow:1;
}